<h1><%= @list.name %></h1>

<% if @list.movies.any? %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <strong><%= bookmark.movie.title %></strong> - <%= bookmark.comment %>
       <%= link_to "Supprimer", bookmark_path(bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr ?" },
            class: "btn btn-sm btn-danger" %>

      </li>
    <% end %>
  </ul>
<% else %>
  <p>Cette liste ne contient pas encore de films.</p>
<% end %>

<%= link_to "Ajouter un film", new_list_bookmark_path(@list), class: "btn btn-success mt-3" %>
<%= link_to "Retour aux listes", lists_path, class: "btn btn-secondary mt-2" %>
