<h1>Ajouter un film à la liste « <%= @list.name %> »</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, label: "Choisir un film" %>
  <%= f.input :comment, label: "Pourquoi ce film ?" %>
  <%= f.button :submit, "Ajouter", class: "btn btn-primary" %>
<% end %>

<%= link_to "Retour à la liste", list_path(@list), class: "btn btn-secondary mt-3" %>
